@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Mulish", sans-serif;
}

/* navbar styles */
.nav-section {
  max-width: 1280px;
  /* background-color: red; */
  margin: 20px auto;
  /* border: 2px solid blue; */
  display: flex;
}
.nav-container {
  /* border: 2px solid red; */
  min-height: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  width: 50%;
}

.nav-container img {
  width: 90px;
  object-fit: cover;
}

.nav-container p {
  font-size: 32px;
  font-weight: 800;
}

.special {
  background: linear-gradient(45deg, #9e3600, #ff5400, #ffa327);
  background-clip: text;
  color: transparent;
}

.nav-items {
  /* border: 2px solid yellow; */
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items a {
  text-decoration: none;
  color: #424247;
  font-size: 18px;
  font-weight: 400;
}

#home {
  color: #ff5400;
  font-size: 18px;
  font-weight: 700;
}

/* banner styles */

.banner {
  width: 1280px;
  height: 500px;
  /* border: 2px solid red; */
  margin: 50px auto;
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/Group\ 13\ \(1\)\ \(1\).png");
  background-position: center;
  background-size: cover;
  border-radius: 16px;
}
.banner-section {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-content {
  /* position: relative; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-text h3 {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
}

.banner-description {
  color: #fff;
  text-align: center;

  font-size: 16px;

  font-weight: 400;
  margin-top: 24px;
}
.banner-form {
  display: inline-flex;
  padding: 8px;
  align-items: flex-start;
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  margin-top: 45px;
}
#text,
#when,
#select-type {
    color: rgba(19, 19, 24, 0.50);
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #fff;
  border: 0;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  
}
.banner-form p {
    width: 174px;
height: 52px;
border-radius: 8px;
background: #FF5400;
color: #FFF;
font-size: 16px;
font-weight: 700;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
}

/* popular tours styles */
.popular-tours {
  max-width: 1280px;
  display: flex;
  margin: 50px auto;
  gap: 68px;
  justify-content: space-between;
  
}
.popular-tours-ul {
    margin-left: 30px;
    color: rgba(19, 19, 24, 0.7);
    font-size: 16px;
    font-weight: 400;
  
    padding-bottom: 15px;
}

.tours-content {
  width: 55%;
}

.tours-content h2 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  padding-bottom: 20px;
}

.tours-content p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 20px;
}

.tours-img {
  width: 45%;
}

.btn-primary {
  border-radius: 8px;
  background: #ff5400;
  width: 174px;
  height: 52px;
  border: 0;
  color: #FFF;
}

/* destination styles */

.destination-img {
  max-width: 1280px;
  margin: 50px auto;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 24px;
}
.destination-1 {
  height: 300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.destination-one {
  width: 100%;
}
.destination-2 {
  width: 100%;
}
.destination-3 {
  height: 300px;
  display: flex;
  gap: 24px;
}
.destination-3 img {
  width: 100%;
}
.destination-6 {
  height: 300px;
  display: flex;
  gap: 24px;
}
.destination-six {
  width: 40%;
}
.destination-7 {
  width: 60%;
}
.destination-img img {
  height: 300px;
}
.destination-contents h3 {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  padding-bottom: 25px;
}
.destination-contents p {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
/* why choose us styles */
.choose-container {
  width: 1280px;
  margin: 50px auto;
}
.choose-content h3 {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}
.choose-content p {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
.containers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.container-img {
  width: 64px;
  height: 64px;
}
.container-header {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}
.container-description {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
}
.container-one {
  width: 100%;
  height: 300px;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  padding: 24px;
}

.container-two {
  width: 100%;
  height: 300px;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
  padding: 24px;
}
.container-three {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    
}
.container-three-properties {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.2);
    background: rgba(251, 181, 99, 0.05);
    padding: 24px;
   
}
.container-one h5 {
    margin-top: 32px;
    margin-bottom: 16px;
}
.container-two h5 {
    margin-top: 32px;
    margin-bottom: 16px;
}
.container-three h5 {
    margin-top: 32px;
    margin-bottom: 16px;
}

/* newsletter styles */

.newsletter {
  max-width: 1280px;
  display: flex;
  margin: 50px auto;
  gap: 68px;
  justify-content: space-between;

}

.newsletter-content {
  border-radius: 16px;
  border: 1px solid #ff5400;
  width: 45%;
  padding: 40px;
}
.newsletter-img {
    width: 55%;
    
    margin-left: 0px;
}

.newsletter-content h3 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 16px;
}
.newsletter-content p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;
    margin-bottom: 24px;

}

.newsletter-content hr {
  background: rgba(19, 19, 24, 0.1);
  width: 393px;
  height: 1px;
  margin-top:24px;
  margin-bottom: 24px;
}

#name,
#email {
  width: 393px;
  height: 52px;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  border: 0;
  margin-bottom: 16px;

}
#button {
  color: white;
  width: 393px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  border: 0;
  margin-top: 8px;
}

