@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Mulish", sans-serif;
}

/* navbar styles */
.nav-section {
  max-width: 1280px;
  /* background-color: red; */
  margin: 0 auto;
  /* border: 2px solid blue; */
  display: flex;
}
.nav-container {
  /* border: 2px solid red; */
  min-height: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  width: 50%;
}

.nav-container img {
  width: 90px;
  object-fit: cover;
}

.nav-container p {
  font-size: 32px;
  font-weight: 800;
}

.special {
  background: linear-gradient(45deg, #9e3600, #ff5400, #ffa327);
  background-clip: text;
  color: transparent;
}

.nav-items {
  /* border: 2px solid yellow; */
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items a {
  text-decoration: none;
  color: #424247;
  font-size: 18px;
  font-weight: 400;
}

#home {
  color: #ff5400;
  font-size: 18px;
  font-weight: 700;
}

/* banner styles */

.banner {
  width: 1280px;
  height: 500px;
  /* border: 2px solid red; */
  margin: 50px auto;
  background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  
}
.banner-section {
    height: 500px;
    display: flex;
  justify-content: center;
  align-items: center;
}
.banner-content {
  /* position: relative; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .banner-img {
  max-width: 1280px;
  border-radius: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(' ');
  display: flex;
  justify-content: center;
} */

/* .banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.banner-text {
  /* color: #FFF; */
  /* border: 2px solid red; */
}

.banner-text h3 {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
}

.banner-text p {
  color: #fff;
  text-align: center;

  font-size: 16px;

  font-weight: 400;
}
.banner-form {
  display: inline-flex;
  padding: 8px;
  align-items: flex-start;
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  border: 2px solid blue;
}

/* popular tours styles */
.popular-tours {
  max-width: 1280px;
  display: flex;
  margin: 50px auto;
  border: 2px solid green;
  gap: 60px;
  /* justify-content: space-between; */
}

.tours-content {
  border: 2px solid red;
  width: 50%;
}

.tours-content h2 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  padding-bottom: 20px;
}

.tours-content li {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;

  padding-bottom: 15px;
}

.tours-content p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 20px;
}

.tours-img {
  border: 2px solid blue;
  width: 40%;
}

.btn-primary {
  border-radius: 8px;
  background: #ff5400;
  width: 174px;
  height: 52px;
  flex-shrink: 0;
}

/* destination styles */

.destination-img {
    border: 2px solid red;
  max-width: 1280px;
  margin: 50px auto;
   display: grid;
  grid-template-rows: repeat(3, 1fr); 
  row-gap: 24px; 
}
.destination-1 {
    height: 300px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 24px;
     
}
.destination-one {
    width: 100%;
}
.destination-2 {
    width: 100%;
}
.destination-3 {
    height: 300px;
    display: flex;
    gap: 24px;  
}
.destination-3 img {
    width: 100%;
}
.destination-6 {
    height: 300px;
    display: flex;
    gap: 24px;  
}
.destination-six{
    width: 40%;
}
.destination-7 {
    width: 60%;
}
.destination-img img {
    height: 300px;
}
.destination-contents h3 {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  padding-bottom: 25px;
}
.destination-contents p {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
